[2019-06-21 16:57] niaalex opened #587 "QA: Test Query (LOG DATA)"
Parent:
#582 - DEV: Query (LOG DATA)
Test Query (LOG DATA) with LOG DATA (Complete) and LOG DATA with Null (??)

[2019-06-21 17:07] niaalex opened #588 "DEV: LOG: Updates for Test Scenarios as Described for 1.3.1.1 (TOP PRIORITY)"
EPIC:
#361 LOG CRUD Implementation
PARENT:
#576 DEV: LOG: Updates for Test Scenarios as Described (TOP PRIORITY)

DEV: LOG: Updates for Test Scenarios as Described for 1.3.1.1 (TOP PRIORITY)

[2019-06-24 18:42] TessForGithub2 commented on #505
UPDATE: Releasing the fix now. The problem is that Channel Sets needs Channels for UOM. Now the code will return the correct error response.

[2019-06-24 18:47] TessForGithub2 commented on #562
UPDATE: Took ownership so it is resolved.

[2019-06-24 18:49] TessForGithub2 commented on #486
UPDATE: Retest. Not seeing it now.

[2019-06-24 18:51] TessForGithub2 commented on #458
UPDATE: Put in the fix and Shehzad reports it is working. However, he has 1 minor issue so wants the card to remain open.

[2019-06-24 19:36] TessForGithub2 commented on #454
UPDATE: Due to all of the 1.4.1.1 GET changes happening, I postponed my fixes. Sukhe just now released all of my changes in df-551 ( PR #592 ).

[2019-06-24 19:41] TessForGithub2 commented on #580
UPDATE: Released under df-551 (PR #592).

[2019-06-24 19:41] #580 closed

[2019-06-24 19:42] TessForGithub2 commented on #566
UPDATE: Release in branch df-551 (PR #592)

[2019-06-24 19:42] #566 closed

[2019-06-24 19:44] TessForGithub2 commented on #505
UPDATE: Released under branch df-551 (PR #592).

[2019-06-24 19:44] #505 closed

[2019-06-24 19:47] TessForGithub2 commented on #402
UPDATE: Chris contributed and stream-lined my old mocking. I have included his stream-lined mocking in the code. However, there is another issue where the data URL is null when the test is run. When I force a value for this, it works (FINALLY!).

So just one more issue and this will be closed.

[2019-06-25 03:17] TessForGithub2 commented on #402
Update: Tested and working.

[2019-06-25 03:24] #402 closed

[2019-06-25 16:43] TessForGithub2 opened #593 "DEV:LOG: Extra <classIndex/> in GetFromStore()"
Reported by SLB on 6/25 by email "Issues found in Drillflow V0.14 image" by Xiangyi KONG.

"Log, an extra <classIndex/> in GetFromStore() if not specified in the request.

[2019-06-25 16:47] TessForGithub2 opened #594 "DEV:LOG:Index of logData is not sorted by Increasing Order"
Issue reported by SLB (refer to 6/25 email entitled "Issues found in Drillflow V0.14 image").

[2019-06-25 16:50] TessForGithub2 opened #595 "DEV:LOG:<direction/> is missing in GetFromStore()"
Reported by SLB (email dated 6/25):

Log, <direction/> is missing in GetFromStore()

[2019-06-25 16:53] TessForGithub2 opened #596 "DEV:LOG:Not providing <name/> will make UpdateInStore fail"
Reported on 6/25 by SLB (refer to email entitled "Issues found in Drillflow V0.14 image"):

Log, not providing <name/> will make UpdateInStore fail.

[2019-06-25 16:56] TessForGithub2 opened #597 "DEV:LOG:<commonData/>, <classWitsml> and <curveDesription/> missing in GetFromStore()"
As reported by SLB with email dated 6/25 entitled "Issues found in Drillflow V0.14 image":

"Log, <commonData/>, <classWitsml/> and <curveDescription/> missing in GetFromStore() Response"

[2019-06-25 18:00] TessForGithub2 opened #598 "DEV:LOG:Does not support multiple <logData/> in UpdateInStore()- LOW PRIORITY"
SLB email on June 25:

(low priority) Log, does not support multiple <logData/> in UpdateInStore()

[2019-06-25 18:10] TessForGithub2 opened #599 "DEV:TRAJ:Trajectory does not support deletion of station (low priority)"
Per SLB "Issues found in Drillflow V0.14 image" email:

(low priority) Trajectory does not support deletion of station

[2019-06-25 18:14] TessForGithub2 opened #600 "DEV:TRAJ:Trajectory does not support deletion of elements (LOW PRIORITY)"
Per SLB "Issues found in Drillflow V0.14 image" email:
(low priority)Trajectory does not support deletion of elements

[2019-06-25 18:18] TessForGithub2 commented on #402
UPDATE: Will create my own branch to release now.

[2019-06-26 15:33] TessForGithub2 commented on #565
Update: Working on this card now as part of #562

[2019-06-26 17:44] shehzadsidi opened #603 "DEV: LOG: (URGENT) Add To Store Errors Out"
AddToStore for both Time and Depth errors in "Internal Server" response.  However, the object is actually being created.  The issue is with response:

<soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/">
   <soap:Body>
      <ns1:WMLS_AddToStoreResponse xmlns:ns1="http://www.witsml.org/message/120">
         <Result>-1</Result>
         <SuppMsgOut>{"message":"Internal Server Err

[2019-06-26 17:58] shehzadsidi commented on #603
Request Log Object:
<soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.witsml.org/wsdl/120" xmlns:types="http://www.witsml.org/wsdl/120/encodedTypes" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <soap:Body soap:encodingStyle="http://schemas.xm

[2019-06-26 19:17] TessForGithub2 commented on #603
Fixed and handed over to Sukhe for his next PR (branch 551) since it involved just commenting out 1 line of code.

There are 2 lingering concerns:

Even tho sending the data over to DoT resulted in the data being created (as proven by a subsequent GetFromStore), DoT returns a "500".

Concern #1: Since there is no rollback, I thought we all agreed that if a ChannelSet is successfully created, even

[2019-06-26 20:04] TessForGithub2 opened #605 "DEV:LOG: Really need to throw a -1 if Channels/Data Fails During an AddToStore"
Refer to ticket #603.

I commented out the failure of DoT returning a 500 (Internal Server Error) in spite of creating a log with 100% fidelity when queried after the AddToStore.

There are two DoT errors here:
1. Why does DoT return a 500 when a subsequent query of the Add shows 100% fidelity (the data that caused the 500 was successfully added & subsequently returned by DoT during a query)?

I w

[2019-06-26 20:13] TessForGithub2 commented on #605
Just some observations:

The Client will not know where in the chain of REST calls the failure has occurred. The Client must read the server logs to know exactly where the point of failure is with respect to the AddToStore and proceed correctly.

If Step 1 fails, then repeating the full request using AddToStore will work.

However, if Step 2 or 3 fails, the Client would have to use UpdateFromStore

[2019-06-26 20:14] cherrera2001 commented on #605
This needs to be reported to the DoT team ASAP.

[2019-06-26 20:24] TessForGithub2 commented on #605
Will do. I want to confirm all that I think I know before reporting to DoT first. Will confirm ASAP and then report back to them.

[2019-06-27 14:26] TessForGithub2 commented on #603
UPDATE: The errors need to be thrown by the Valve back with appropriate error codes. The log must reflect accurate error tracing so the root cause can always be uncovered. The strategy for repeating AddToStore is not viable as best as I can tell (it will result in a -409 error since a ChannelSet must be present & mappings happen each & every time an AddToStore occurs). The suggestion to just repea

[2019-06-27 16:23] Mike-d-s commented on #596
Error returned from DrillFlow is "JSONObject["name"] not found."

[2019-06-28 15:10] shehzadsidi opened #609 "DEV: UpdateInStore and GetFromStore Log Data out of order (URGENT: Priority1, ShowStopper for RTC)"
Perform the following to uncover the bug (test case attached)
[Result Log Data Out of Order.txt](https://github.com/hashmapinc/Drillflow/files/3339775/Result.Log.Data.Out.of.Order.txt)
[ModofyLog(Depth)Object.txt](https://github.com/hashmapinc/Drillflow/files/3339777/ModofyLog.Depth.Object.txt)
[Create Log(Depth).txt](https://github.com/hashmapinc/Drillflow/files/3339778/Create.Log.Depth.txt)

1.

[2019-07-01 15:15] TessForGithub2 commented on #603
UPDATE: The only acceptable solution to this issue is to provide rollback.

The problems are:
1.  There are 3 REST calls on the SLB's API side for an AddToStore: channelSet, channels, & data.
     However, on the WITSML API side, there is no concept of REST calls (knowledge of the solution
     architecture is not necessary for the API to work). The WITSML API side expects a virtually
     immedia

[2019-07-01 15:15] #603 closed

[2019-07-01 15:17] shehzadsidi opened #610 "DEV: DrillFlow unable to handle timestamps format passed in from the RTC Client (URGENT, Showstopper)"
DrillFlow unable to handle timestamps format passed in from the RTC Client (URGENT, Showstopper) for associated Log Data.  The response missing the channels.  Attached is the Testcases for AddToStore and GetFromStore.
[Add To Store Request for TimeStamp Format Issue.txt](https://github.com/hashmapinc/Drillflow/files/3346264/Add.To.Store.Request.for.TimeStamp.Format.Issue.txt)
[Get From Store Respo

[2019-07-01 15:24] TessForGithub2 opened #611 "DEV:LOG: AddToStore Retry Has Issues"
UPDATE: The only acceptable solution to this issue is to provide rollback.

The problems are:
1.  There are 3 REST calls on the SLB's API side for an AddToStore: channelSet, channels, &
     data.  However, on the WITSML API side, there is no concept of REST calls (knowledge of
     the solution architecture is not necessary for the API to work). The WITSML API side
     expects a virtually immedi

[2019-07-01 15:37] TessForGithub2 opened #612 "DEV:LOG:Capture Sequence Diagrams and General Architecture to Reveal Design"
Client Ask:

Per JingYing Yang on 6/26 via email:

"As we discussed on Tuesday, the design part could be enhanced. If there is design of log object, could you share us as well? That could help us to have better understanding. We could share our design as well, our design is captured in the user story."

The idea per Mike is to capture the sequence diagrams and general architecture for log.

**Subj

[2019-07-01 15:47] shehzadsidi opened #613 "QA: DrillFlow unable to handle timestamps format passed in from the RTC Client (URGENT, Showstopper) #610"
Test to ensure DrillFlow is able to handle the various timestamp formats by checking whether the Log (Time) object gets created and retrieved successfully with all channels and Log Data

[2019-07-01 15:50] shehzadsidi opened #614 "QA: UpdateInStore and GetFromStore Log Data out of order (URGENT: Priority1, ShowStopper for RTC) #609"
Test to ensure that the order of the Log Data is exactly the same upon retrieval as it was on the Add To Store request

[2019-07-01 17:39] TessForGithub2 opened #615 "DEV:LOG:AddToStore will use DoT accepted DateTimeStamp (RTC HIGH PRIORITY)"
DoT was not complaining about the date/timestamps used by AddToStore, but just sending back the wrong information. The solution is to conform AddToStore date/timestamps to those used by DoT.

This card is connected to #610

[2019-07-01 19:59] shehzadsidi commented on #615
Assigning to Such since the changes in GetFromStore

[2019-07-01 20:00] shehzadsidi commented on #615
Assigning to Such since the changes in GetFromStore

[2019-07-01 20:00] shehzadsidi commented on #615
Assigning to Sukhe since the changes in GetFromStore

[2019-07-01 20:44] TessForGithub2 commented on #615
UPDATE: After a conversation with Sukhe, I determined that there was 100% fidelity between what AddToStore was providing to DoT and what DoT was returning to GetFromStore. DoT did not throw an error with the date/timestamp as provided by AddToStore. Plus, DoT did not return garbled or "messed up" date/timestamps. Additionally, by examining the schema, I determined that the formats of the date/time

[2019-07-01 20:44] #615 closed

[2019-07-01 21:09] shehzadsidi opened #617 "DEV: Cannot query for StartDateTimeIndex and EndDateTimeIndex (Priority 1, ShowStopper)"
The DrillFlow should be able to handle the null case scenario for StartDateTimeIndex and EndDateTimeIndex during the merge when conversion from JSON to XML.  This is also true for all other null elements scenarios (including GrowingObject)

<?xml version="1.0" encoding="UTF-8"?>
<logs xmlns="http://www.witsml.org/schemas/1series"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:sc

[2019-07-02 14:54] niaalex opened #619 "DEV: Parent Card- Determine Code Impact to client PUT API Change"
DEV: Analysis: small (search codebase for usage & determine code change)
DEV: Code & Test: TBD

Per client, the current PUT API of some DoT services provides partial update behavior, which is wrong (The correct PUT behavior is to create a new resource or replace whole existing resource). This is DoT technical debt and we’re going to correct them. Below PUT APIs behavior needs correction:

PUT /wit

[2019-07-02 15:02] TessForGithub2 commented on #619
UPDATE: First, I have to find where in the codebase these APIs are being used. Once I determine where & how they are used, I can determine the change(s) (if any) required to block partial updates. This may mean removing the use of the endpoints (which means which endpoints need to be used instead, if any) OR modified use of the endpoints (for example, only allow use of the endpoint if it is a full

[2019-07-02 15:29] TessForGithub2 commented on #617
UPDATE: Chris' feedback on this --

For query there are 2 cases, the element exists with no filter criteria, the element exists without filter criteria, the element does not exist. This means 3 things:
1) if element exists with data, it means “use this value to filter for the data” and return it
2) if element exists without data, it means “return this value to me”
3) if element does not exist, it

[2019-07-02 18:11] TessForGithub2 commented on #617
UPDATE: ANY Java object that does not support null needs this same fix (so, Boolean, for example).

[2019-07-03 14:42] niaalex commented on #619
No ETA at this time.  @TessForGithub2 will update by 7/5.

[2019-07-03 16:51] niaalex opened #621 "DEV:LOGS: Deliver Design Documentation to Client"
The client has requested we provide a copy of the LOGs Design Documentation for reference.  We need to provide this or advise in reply the planned ETA,

[2019-07-03 18:06] shehzadsidi opened #622 "DEV: WITSML 1.3.1.1 (Add To Store Failing)"
When calling AddToStore for creating Log objects fails in 1.3.1.1 and returns the following error:
JSONObject["logData"] is not a JSONArray.

[2019-07-03 20:23] niaalex commented on #597
Noted as Solved by SLB team – HM Dev to determine needed action

[2019-07-03 20:25] niaalex commented on #593
Noted as not solved  by SLB – active in current sprint
ETA TBD pending @TessForGithub2  RTC support bandwidth

[2019-07-03 20:25] niaalex commented on #595
Noted as not solved  by SLB – active in current sprint
ETA TBD pending @TessForGithub2  RTC support bandwidth

[2019-07-03 20:25] niaalex commented on #596
Noted as not solved  by SLB – active in current sprint
ETA TBD pending @TessForGithub2  RTC support bandwidth

[2019-07-03 20:27] niaalex commented on #594
Item noted not solved by SLB- active classified for next sprint
ETA TBD pending @TessForGithub2 current sprint support bandwidth
--

[2019-07-03 20:27] niaalex commented on #598
Item noted not solved by SLB- active classified for next sprint
ETA TBD pending @TessForGithub2 current sprint support bandwidth
--

[2019-07-03 20:33] niaalex commented on #599
Item noted not solved by SLB- active classified for next sprint
ETA TBD pending @TessForGithub2 current sprint support bandwidth

[2019-07-03 20:34] niaalex commented on #600
Item noted not solved by SLB- active classified for next sprint
ETA TBD pending @TessForGithub2 current sprint support bandwidth

[2019-07-05 14:59] niaalex opened #623 "DEV: WellBore: Tech Debt for Wellbore Query with OptionsIn"
This card addresses the following:
one issue is reported regarding wellbore query
in WATT, if query wellbore with OptionsIn "returnElements=all", the response won't contain uidWell property

Client analysis in progress.  Update pending client feedback.

[2019-07-05 15:18] TessForGithub2 commented on #619
UPDATE:
PUT is being used for all non-LOG objects (so Well, Wellbore, and Trajectory).

With LOG (refer to my Log Update design document which outlines these REST calls), I do:
          **_channelSetRequest = Unirest.patch(channelSetEndpoint);_**
          **_channelsRequest = Unirest.post(channelsEndpoint);_**
          **_channelDataRequest = Unirest.post(dataEndpoint);_**
while all other objec

[2019-07-05 16:27] TessForGithub2 commented on #619
UPDATE:

WELL --
Currently use endpoint _...well/v2/witsml/wells/_ as PUT
Refer to the SLB demo website: **democore/Slb.Prism.Core.Service.Well-2** which states:
     "Create a well object with uid specified or Update a well object in 1.4.1.1 format"
    (NOTE: this was designed to accommodate both a creation or an update.)
Need to use endpoint _...well/v2/witsml/wells/_ as PATCH
Refer to the SLB

[2019-07-08 14:40] niaalex commented on #623
Client confirmed the fix via slack; HM Dev review and QA in progress.
QA will test (unblock) and close

[2019-07-08 14:58] niaalex commented on #622
This item has been identified as a bug: Test cases have already been created is pending dev update.  Dev card created for tracking

[2019-07-08 15:06] niaalex commented on #593
HM Dev can not duplicate the issue further analysis in progress; will be tested in QA
Verification will be provided - ETA 7/8

[2019-07-08 15:07] niaalex commented on #594
This item has been fixed/this item is now closed.

[2019-07-08 15:07] #594 closed

[2019-07-08 15:08] niaalex commented on #595
In progress - ETA 7/8

[2019-07-08 15:10] niaalex commented on #596
Dev analysis in progress - ETA is 7/10

[2019-07-08 15:11] niaalex commented on #597
Dev update pending SLB field input. This item is now blocked.

[2019-07-08 15:12] niaalex commented on #597
HM Dev needs this field from common data to validate this - <dTimLastChange></dTimLastChange>

[2019-07-08 15:17] niaalex commented on #598
This item is in progress; ETA TBD
Impacted by the logic for Update In Store appended channel to be modified
@TessForGithub2 will link the cards

[2019-07-09 00:07] niaalex opened #625 "DEV: Drillflow Trace Update"
This card is to provide an update on the tracing option.  See client email
Subject: RE: Regarding Drillflow trace
From: tonia.alexander@hashmapinc.com <tonia.alexander@hashmapinc.com>
Sent: Friday, July 5, 2019 8:39 AM

Dear Tonia and HM colleagues,

This week we got time to analyze if Drillflow trace recorded in DoT ELK system is enough for trouble shooting. For the time being, it is not easy for

[2019-07-09 00:14] niaalex opened #626 "DEV: Review Message Capture by XML Query Line"
This card is to track the action item to Review Message Capture by XML Query Line

[2019-07-09 13:31] niaalex commented on #625
Please note the update to this client inquiry should be in **reply all** from the email
From: XiaoBin DENG <XDeng4@slb.com>
Sent: Monday, July 8, 2019 7:02 PM
that adds Pascal Hochart on the distro

[2019-07-09 13:40] niaalex commented on #622
Client has provided a screen shot of how WITSML 1.3.1.1 server is connected using RTC.
See email from
From: Chongwei Wan <CWan2@slb.com>
Sent: Monday, July 8, 2019 7:19 PM
Please Review the email and advise if this has an impact on this card and if we are still on target to complete this card  on today (7/9) as planned

[2019-07-09 14:43] shehzadsidi commented on #614
Tested successfully, the log Data is now in order.

[2019-07-09 14:43] #614 closed

[2019-07-09 14:44] shehzadsidi commented on #613
The format issue is now fixed, successfully tested, closing the card.

[2019-07-09 14:44] #613 closed

[2019-07-09 14:44] niaalex opened #627 "DEV: LOG: Update in Store fails with Data Only"
DEV: LOG: Update in Store fails with Data Only

EPIC: Log Implementation
This is the result of another fix.  The solution is known and @TessForGithub2  will enter it today.

ETA is 7/9/2019

[2019-07-09 15:28] shehzadsidi opened #628 "DEV: LOG: UpdateInStore for Log Data (Depth and Time) does not work (ShowStopper, Priority 1)"

[2019-07-09 15:46] shehzadsidi commented on #628
DEV: UpdateInStore for Log Data (Depth and Time) does not work (ShowStopper, Priority 1). Testcase attached.
[Error.txt](https://github.com/hashmapinc/Drillflow/files/3373765/Error.txt)
[Update Log Data (Depth).txt](https://github.com/hashmapinc/Drillflow/files/3373766/Update.Log.Data.Depth.txt)
[AddToStore Log (Depth).txt](https://github.com/hashmapinc/Drillflow/files/3373768/AddToStore.Log.Depth

[2019-07-09 15:48] shehzadsidi opened #629 "QA: Test the UpdateInStore Log Data Bug (Priority1, ShowStopper) #628"
QA: Test the UpdateInStore Log Data Bug (Priority1, ShowStopper) #628

[2019-07-09 19:39] TessForGithub2 commented on #628
UPDATE:

The bug in Drillflow has been identified and fixed for depth (and I will trace for time, but since it traverses the same code, I assume that time has been fixed also).

However, effective testing by QA is blocked because the DoT bug has been discovered where DoT deletes ALL channels after a channelset Update. This error has gone undetected this long because we usually update with channels

[2019-07-09 19:44] TessForGithub2 commented on #629
UPDATE: The bug in just data (and channelset) for an UpdateInStore for LOG has been fixed. I have traced it through the codebase.

However, a subsequent Query check by QA will fail due to a DoT "bug" where the first REST call to Patch ChannelSet results in ALL channels being deleted. This has been communicated to Mike and the team via email; he will forward to SLB. The DEV card will be closed.

[2019-07-09 19:59] TessForGithub2 opened #630 "DEV:LOG: getPayloads4Log() Checks for the Existence of ChannelSet with Wrong Field"
getPayloads4Log() uses "name" instead of "uid" to check if a channelset is present

[2019-07-09 21:18] TessForGithub2 commented on #628
Update: I will release the code and then close this card tonight.

[2019-07-10 14:33] niaalex opened #631 "QA: LOG: RTC Issue with get for LCI and log head only - Show stopper (Priority 1)"
Scenario:
Client queries for specific log curve info metadata

GetFromStore Query:
Client sample get from store query (note this is a real log so you can use this query as is for validation).  Client is specifically asking for some of the log curve metadata for specific log curves as defined by the mnemonic in the query. Objective is to understand the min/max index values to build efficient get fr

[2019-07-10 15:41] TessForGithub2 commented on #628
Update:
Chris performed the same change that I had, and it is now working.

Additional Information:
It turned out that the AddToStore was Depth and the UpdateFromStore was Time; mixing the 2 allowed an update to the ChannelSet (setting it to Time and disassociating it from the Channels that were Depth; the Channels were not deleted). This is why the Data Post did not return an error; it simply did

[2019-07-10 20:45] #628 closed

[2019-07-10 22:58] TessForGithub2 commented on #627
The fix was not the result of another fix, as it turned out. The code needed to check for the existence of a JSON field before "getting" it. A simple 1-line fix that I did not release last night due to some confusion over an Add for Depth and an Update for Time that made it appear to be blocked by DoT. Released by Chris last night.

[2019-07-10 22:58] #627 closed

[2019-07-10 23:00] TessForGithub2 commented on #629
Update: The real issue was depth was being used for the Add while time was being used for the Update. Resolved, tested, and released.

[2019-07-10 23:00] #629 closed

[2019-07-10 23:03] TessForGithub2 commented on #627
Update: Turns out, the code was not due to another fix but an issue I had resolved in Branch 395A but did not release due to all the activity surrounding Query. I was supposed to check for a JSON field's existence before attempting to get it. Resolved, tested, released.

[2019-07-11 15:03] TessForGithub2 commented on #460
Update: merged this fix into the master branch; due to release 7/11.

[2019-07-11 15:07] TessForGithub2 commented on #454
Update: I did not see my code fix in Master, so I am releasing today (7/11) as part of df-395A. Going through a bunch of my fixes to make sure they were put in. This is for v1.3.1.1.

[2019-07-11 15:07] TessForGithub2 commented on #454
Reopened to release as part of df-395a today (7/11).

[2019-07-11 16:11] TessForGithub2 commented on #460
Update: for 1.4.1.1, <columnIndex/> is part of the log curve metadata
Translation:
-> from1411 (which gets WITSML XML from a v1.4.1.1 Client) just requires that <classIndex/> is populated from log curve metadata (the "lci") - already in Master
-> to1411 (which gets JSON from DoT) just requires that <classIndex/> is populated from returned channel's <classIndex/> - already in Master

Reopened this

[2019-07-11 17:44] TessForGithub2 opened #633 "DEV:LOG: getWellName & getWellBoreName searches allow a Status of 400"
getWellName in LogConverterExtended.java (Valve) has this code:
        int status = response.getStatus();
        // If there is an error, well name will return as NULL.
        if (201 == status || 200 == status || 400 == status) {
            // get the wellborename of the first wellbore in the response
            wellName = GraphQLRespConverter.getWellNameFromGraphqlResponse(new JSONObject(re

[2019-07-12 18:58] TessForGithub2 opened #635 "DEV:LOG:UpdateInStore Edge Case RTC Failure"
Epic: LOG

If the Index Channel in a Log Channels List does not exist, we will have to go out to DoT to get the Channel's Metadata for <indexCurve/>, convert the Channel to another Log Channel, and add it to the List.

Check that AddToStore follows suit.

Logic:
*******
If Update
Does <indexCurve/> exist in the LCI List?
If NOT,
      a. Get Channel Metadata
      b. Get <indexCurve/> metadata

[2019-07-12 20:55] shehzadsidi opened #636 "QA: Test the capability of UpdateTOStore without Index Channel (#392)"
QA: Test the capability of UpdateTOStore without Index Channel (#392)

[2019-07-15 17:51] niaalex commented on #625
Please advise the current status of this item c/o open action item updates @TessForGithub2

[2019-07-15 17:52] niaalex commented on #625
@cherrera2001 was this addressed already with the fix to the logging mechanism that you released yesterday?  Please advise if this is ok to close

[2019-07-16 00:15] niaalex commented on #597
SLB team has requested additional detail about this item.  Please advise in reply to the email.

[2019-07-16 14:35] niaalex commented on #597
@sukhendumukherjee will verify and push the code today 7/16.

[2019-07-17 03:31] niaalex commented on #597
@sukhendumukherjee  please advise the outcome of your review on this item.  Please be reminded of the client feedback provided on this one.
Email Detail FYI:
From: Chongwei Wan <CWan2@slb.com>
Sent: Monday, July 15, 2019 9:34 PM
Subject: RE: [Ext] DEV:LOG:<commonData/>, <classWitsml> and <curveDesription/> missing in GetFromStore() #597 - Blocked Pending SLB Update

[2019-07-17 03:38] niaalex commented on #496
@sukhendumukherjee Please advise the status on this activity and provide an update on your action to confirm Script availability and verification of the Fluids Report API from portal.

Note SLB request to add Adrien Chassard <AChassard@slb.com> to the thread for all Fluids Report updates.

[2019-07-17 03:42] sukhendumukherjee commented on #597
We are now getting <dTimLastChange>2019-07-12T19:46:13.696Z</dTimLastChange> and element is being added.Will be available with next container.

[2019-07-17 03:47] niaalex opened #637 "QC: LOGS: Deliver the Fix for WITSML 1311 Issue (HIGH PRIORITY)"
This item will require us to send a new container release (0.16.1) to SLB next week (7/22) for the fix of WITSML 1311 issue.

::NOTE:: The SLB BlueBox team is waiting for this fix to continue integration test.

@shehzadsidi please provide an update on the status of the RTC Plug In for 1311. Copying Chris for input c/o RC Plugin.

o	Dev/Team has confirmed that the Mapping is already done and test c

[2019-07-17 13:41] niaalex commented on #597
@sukhendumukherjee does this update complete this issue?  If so, please close the card asap.

[2019-07-17 13:55] niaalex commented on #637
@shehzadsidi Chris confirmed that SLB does not need to provide a RTC Plug In.  This will require Dev/Test teams to bugfix 1311.

Please confirm the ETA to complete this card in order to deliver the 0.16.1 container on 7/22 as promised.

[2019-07-17 14:15] #597 closed

[2019-07-17 14:56] shehzadsidi commented on #587
We are receiving log Data in responses, tested successfully in QA.  Closing the card

[2019-07-17 14:56] #587 closed

[2019-07-17 14:57] shehzadsidi commented on #567
All scenarios completed and tested in QA.  Closing the card

[2019-07-17 14:57] #567 closed

[2019-07-17 14:58] shehzadsidi commented on #504
Min and Max index in both Logs (Depth and Time) are tested successfully in QA.  Closing the card.

[2019-07-17 14:58] #504 closed

[2019-07-17 16:25] #575 closed

[2019-07-17 16:25] #622 closed

[2019-07-17 20:09] niaalex opened #639 "DEV: FR: Fluids Report API Error Message"
This is the card to track the issue with the FR API

Toni'a Alexander [2:59 PM]
SLB team please note there is a problem with the current version of the FluidsReport API
Please advise if all the APIs are working.....in our test they are not working
we are referring to - https://engdmzprism.portal.azure-api.net/docs/services/democore-Slb-Prism-Core-Service-FluidsReport-1/operations/FluidsReport_Post

[2019-07-18 14:28] TessForGithub2 commented on #581
UPDATE: Verified during release of container 0.16.0 that min (Start) and max (end) including index channel was present during a "Query ALL". We are closing this card since it appears to be resolved for 1.4.1.1 and subsequent 1.3.1.1 testing will uncover if there is an issue in that version.

[2019-07-18 14:28] #581 closed

[2019-07-18 14:41] niaalex commented on #631
Resolved as of 7/17 and delivered in Container 0.16.0

[2019-07-18 14:41] #631 closed

[2019-07-18 14:44] niaalex commented on #626
Update pending Dev review. ETA 7/19

[2019-07-18 14:45] niaalex commented on #635
This item was resolved and delivered with container 0.16.0

[2019-07-18 14:45] #635 closed

[2019-07-18 14:47] niaalex commented on #633
Verification of the fix in progress
@TessForGithub2 will update 7/18

[2019-07-18 14:49] niaalex commented on #460
Covered in the 395A Branch fix.  ETA 7/22

[2019-07-18 14:50] niaalex commented on #623
@shehzadsidi will confirm and close 7/18

[2019-07-18 14:54] niaalex commented on #621
@TessForGithub2 will manage the updates as a High Priority - ETA is 7/24

[2019-07-18 14:59] niaalex commented on #619
The analysis is done and code impact is determined. @Mike-d-s will need to advise if the team should make a code change.

[2019-07-18 15:01] niaalex commented on #617
This issue is resolved.

[2019-07-18 15:01] #617 closed

[2019-07-18 15:02] niaalex commented on #610
This item was resolved in docker container 0.16.0

[2019-07-18 15:02] #610 closed

[2019-07-18 15:03] niaalex commented on #609
This issue was closed and the fix delivered in 0.16.0

[2019-07-18 15:03] #609 closed

[2019-07-18 15:05] niaalex commented on #565
This will be covered in branch 395A - ETA is 7/22 @TessForGithub2

[2019-07-18 15:06] niaalex commented on #562
This item will be addresses with 1311 container 0.16.1 - ETA 7/19

[2019-07-18 15:08] niaalex commented on #625
@cherrera2001 was this addressed already with the fix to the logging mechanism that you released yesterday? Please advise if this is ok to close

@cherrera2001  is this item closed  now?

[2019-07-18 15:10] niaalex commented on #596
Dev analysis complete; Code change in progress @TessForGithub2  will update card ETA - 7/22

[2019-07-18 15:13] niaalex commented on #457
Update pending  with branch df-395A - ETA 7/22
@TessForGithub2

[2019-07-18 15:15] niaalex commented on #458
@shehzadsidi  confirmed this is complete. Delivered with 0.16.0.

[2019-07-18 15:15] #458 closed

[2019-07-18 15:16] niaalex commented on #467
This will be covered with 1311 in container 0.16.1 by @TessForGithub2

[2019-07-18 15:18] niaalex commented on #486
@TessForGithub2  will address with 1311 - ETA is 7/19

[2019-07-18 15:20] niaalex commented on #576
This will be covered with 1311 @shehzadsidi and close once RTC for 1311 is complete ETA 7/19
@shehzadsidi

[2019-07-18 15:31] TessForGithub2 commented on #636
UPDATE: This was resolved with Container 0.16.0.

[2019-07-18 15:31] #636 closed

[2019-07-18 20:17] #637 closed

[2019-07-19 00:05] TessForGithub2 opened #642 "DEV:FR:Finish Fluids Report Converter"
Chris provided the basis for the Fluids Report Converter in --

https://github.com/hashmapinc/WitsmlObjectsLibrary/blob/df-fluidReport/src/main/java/com/hashmapinc/tempus/WitsmlObjects/Util/FluidsReportConverter.java

He advises that if I follow what he started and finish this converter, we will have all of the mappings needed for Fluids Report. After that, we should be able to provide the basic C

[2019-07-19 15:23] shehzadsidi opened #643 "DEV: Logs (Depth) 1.3.1.1 curveDescription mapping missing in WITSML"
WITSML response missing the CurveDescription in Channel metadata.  The request and response Testcases attached.
[AddToStore Log(Depth) 1.3.1.1.txt](https://github.com/hashmapinc/Drillflow/files/3411701/AddToStore.Log.Depth.1.3.1.1.txt)
[AddToStore Logs(Depth) 1.3.1.1 Response.txt](https://github.com/hashmapinc/Drillflow/files/3411702/AddToStore.Logs.Depth.1.3.1.1.Response.txt)

[2019-07-19 15:39] shehzadsidi opened #644 "DEV:LOG: GetFromStore 1.3.1.1 Channel Set Metadata missing objectGrowing"
GetFromStore Log 1.3.1.1 Channel Set Metadata missing objectGrowing. Need to trace for root cause & fix.

[2019-07-19 16:33] shehzadsidi commented on #623
testing successful, UIDWell property is present in WITSML response.  Closing the card.

[2019-07-19 16:33] #623 closed

[2019-07-19 18:19] shehzadsidi opened #645 "Log UpdateToStore without Index Channel Channel fails in 1.3.1.1"
UpdateToStore Log(Depth) for log data fails for 1.3.1.1 without Index Channel.

[2019-07-19 18:24] shehzadsidi opened #646 "UpdateToStore log data in 1.3.1.1 fails"
UpdateToStore log data in 1.3.1.1 fails with error: No value present

[2019-07-19 20:14] shehzadsidi commented on #645
fix placed in df-642-M, tested by Theresa.

[2019-07-19 20:14] #645 closed

[2019-07-22 20:27] kawasaki23Ven opened #648 "In regards on the uses of the performLogSearch and getFromStoreRestCalls functions"
Hi, I've been trying to request the LOGS information, however I realized that the performLogSearch function that is being used  at the endpoint "log" is being called using the parameter "containerId" wich represents the uuid of the wellbore, and lastly in the  getFromStoreRestCalls function the same endpoint is requested using the parameter "containerId" with the uuid of the channelSet. Is there a

[2019-07-23 17:17] shehzadsidi opened #649 "DEV: curveDescription missing in response in Channels for Log(Time and Depth) 1.3.1.1"
curveDescription missing in response in Channels for Log(Time and Depth) 1.3.1.1

**To Reproduce**
Steps to reproduce the behavior:
1. Perform AddToStore with Log Data (Testcases attached)
2. Perform GetFromStore query for all including log data (Test

cases attached)
3. Verify CurveDescription is missing in Channels meta data

**Expected behavior**
I expect the curveDescription in the channels to

[2019-07-23 18:06] shehzadsidi opened #650 "Dev: UpdateToStore Logs(Time) for Channel meta data fails"
UpdateToStore Logs(Time) for Channel meta data fails.  Test cases attached.

Steps to Reproduce:
1. AddToStore query
2. UpdateToStore query
3. GetFromStore query

verify that <mnemAlias>md modify Testing QA</mnemAlias>does not get updated.  The value is still <mnemAlias>ropAv</mnemAlias>

[2019-07-24 02:50] TessForGithub2 commented on #642
Update: Committed df-fluidsreports (my branch based on Chris' branch df-fluidsreport) and then merged into master as 1.1.37.

[2019-07-24 02:50] #642 closed

[2019-07-24 04:24] TessForGithub2 opened #651 "DEV:FsR: Modify underlying architectural elements dependent upon WitsmlObject"
Now that we have the converter in the WitsmlObjects Library, we need to modify the underlying architecture elements that support the FluidsReport object in Drillflow.

[2019-07-24 14:42] niaalex commented on #650
ETA for this 7/25 @TessForGithub2

[2019-07-24 14:42] niaalex commented on #646
ETA is 7/25 @TessForGithub2

[2019-07-24 14:43] niaalex commented on #643
ETA is 7/25 @TessForGithub2

[2019-07-24 14:44] niaalex commented on #644
ETA is 7/24 @sukhendumukherjee

[2019-07-24 14:46] niaalex commented on #651
ETA is 7/24 (AM)  @TessForGithub2

The associated card #642

DEV:FR:Finish Fluids Report Converter #642

[2019-07-24 15:00] TessForGithub2 commented on #515
UPDATE: The converter with the mappings has been completed after review by Chris. There will not be an extended converter, so the following is true:
1.3.1.1 -> 2.0, 2.0 -> 1.3.1.1 is done
1.4.1.1 -> 2.0, 2.0 -> 1.4.1.1 is done
no effort for 2.0 -> 2.0 is required (obvious but worth mentioning)

[2019-07-24 15:03] TessForGithub2 commented on #492
Update: Sukhe ETA 7/24

[2019-07-24 15:05] TessForGithub2 commented on #493
Update: Theresa is working on this now and ETA is 7/24

[2019-07-24 15:06] TessForGithub2 commented on #494
Update: Theresa has provided access to the object with the WitsmlObjectsLibrary. She will complete Update ETA 7/25

[2019-07-24 15:09] TessForGithub2 commented on #495
Update: Sukhe is working on this and his ETA is 7/25

[2019-07-24 15:11] TessForGithub2 commented on #519
Update: Will look into this while doing the Add. I think multiple object creation is a "given" due to the architecture of Drillflow, but will review further.

[2019-07-24 15:20] TessForGithub2 commented on #521
Update: Shehzad has started this effort; ETA: 7/24

This will be a full object test, vanilla sanity test for 1.4.1.1

[2019-07-24 15:23] TessForGithub2 commented on #525
Update: Our first effort will be to provide a Full Transaction Sanity Test in priority order: 1.4.1.1, 1.3.1.1, 2.0. Then, we will focus on permutations to this first effort.

Multiple object creation testing is a permutation.

ETA: TBD in priority order

[2019-07-24 15:26] TessForGithub2 commented on #533
Update: Shehzad will start this test case on 7/25. It will provide a Full Transaction, vanilla sanity testing, in priority order of 1.4.1.1, 1.3.1.1, and 2.0.

ETA: 7/25

Separate card will be opened to address 1.3.1.1 and 2.0

[2019-07-24 15:33] TessForGithub2 commented on #525
Update: This effort is beyond vanilla sanity testing, so will line up after sanity testing is completed.

ETA: TBD

[2019-07-24 15:38] TessForGithub2 commented on #639
Update: Per Sukhe, this has been resolved by DoT.

[2019-07-24 15:42] TessForGithub2 commented on #582
Update: Sukhe has closed this card as completed.

[2019-07-24 15:45] TessForGithub2 commented on #512
Update: POJOs for all versions (1.3.1.1, 1.4.1.1, and 2.0) have been created in the WitsmlObjectLibrary.

[2019-07-24 15:46] TessForGithub2 commented on #513
Update: Theresa is currently working on this with AddToStore:FsR.

ETA: 7/24.

[2019-07-24 15:51] TessForGithub2 commented on #552
Update: Reported as fixed by Shehzad.

[2019-07-24 16:04] TessForGithub2 commented on #380
Update: Already communicated the strategy to the client. Shehzad says to close the card.

[2019-07-24 16:04] #380 closed

[2019-07-24 16:07] TessForGithub2 commented on #516
Update: Special case, deferred in priority until after Happy Path & Sanity Tests.

[2019-07-24 16:09] TessForGithub2 commented on #524
Update: Duplicate Card. Closed.

[2019-07-24 16:09] #524 closed

[2019-07-24 16:10] TessForGithub2 commented on #533
Update: Special case, deferred to after Happy Path & Sanity Testing complete.

[2019-07-24 16:12] TessForGithub2 commented on #535
Update: ETA is 7/25

[2019-07-24 16:13] TessForGithub2 commented on #523
Update: Special case, deferred in priority to after Happy Path & Sanity Testing is completed.

[2019-07-24 16:16] TessForGithub2 commented on #539
Update: This is the Happy Path & Sanity test for DeleteFrom Store. ETA: 7/29

[2019-07-24 16:21] TessForGithub2 commented on #551
Update: Confirmed that Shehzad tested & it is to be closed.

[2019-07-24 16:21] #551 closed

[2019-07-24 16:23] TessForGithub2 commented on #517
Update: Sukhe confirmed this is done.

[2019-07-24 16:23] #517 closed

[2019-07-24 16:27] TessForGithub2 commented on #572
Update: Sukhe confirmed this card can be closed because the fix is in.

[2019-07-24 16:27] #572 closed

[2019-07-24 16:28] TessForGithub2 commented on #570
Update: Confirmed with Shehzad that this card is done. Closing it now.

[2019-07-24 16:28] #570 closed

[2019-07-24 16:34] TessForGithub2 commented on #496
Update: Sukhe's ETA is 7/24

[2019-07-24 16:37] TessForGithub2 commented on #514
Update: All CRUD Objects will ingest the mapping. Since this is inherent in the objects' design, I will close this card as "understood that this is happening this week, and as each CRUD object closes, it will be done."

[2019-07-24 16:37] #514 closed

[2019-07-24 16:39] TessForGithub2 commented on #518
Update: This will be done at the same time as AddToStore Happy Path & Sanity cases (it is a by-product of creating the code for AddToStore). I will leave this card open, however, as a reminder of these development use cases.

[2019-07-25 14:32] niaalex commented on #537
This is now complete per @shehzadsidi

[2019-07-25 14:34] #537 closed

[2019-07-25 14:39] niaalex commented on #526
This item is in progress and 50% complete. @sukhendumukherjee

[2019-07-25 14:41] niaalex commented on #527
This is dependent on the in progress WITSML object @TessForGithub2
ETA is 7/25 for WITSML object

[2019-07-25 14:42] niaalex commented on #528
In progress at 30% complete
ETA - 7/26 @sukhendumukherjee

[2019-07-25 14:44] niaalex commented on #529
This is not a part of the planned basic CRUD operation with the 7/29 ETA and will be delivered later.
@sukhendumukherjee

[2019-07-25 14:45] niaalex commented on #530
@sukhendumukherjee  will confirm if this is still valid. ETA for update noon 7/25.

[2019-07-25 14:46] niaalex commented on #531
@sukhendumukherjee will confirm if this is still valid. ETA for update noon 7/25.

[2019-07-25 14:48] niaalex commented on #536
@sukhendumukherjee will confirm if this is still valid. ETA for update noon 7/25.

Will determine if this needs to be mapped to GET vs. ADD.

[2019-07-25 14:49] niaalex commented on #542
@sukhendumukherjee will confirm if this is still valid. ETA for update noon 7/25.

[2019-07-25 14:50] niaalex commented on #544
@sukhendumukherjee will deliver with 7/29

[2019-07-25 14:52] niaalex commented on #545
@sukhendumukherjee  to cover with 7/29 delivery of FsR.

[2019-07-25 14:53] niaalex commented on #644
@sukhendumukherjee will manage this in the next sprint

[2019-07-25 14:55] niaalex commented on #467
@TessForGithub2  please advise the update on this one

[2019-07-25 14:55] niaalex commented on #595
@sukhendumukherjee  to cover in next sprint.

[2019-07-25 14:57] niaalex commented on #593
@sukhendumukherjee will confirm this item ETA - 7/29

[2019-07-25 14:58] niaalex commented on #486
@sukhendumukherjee  will look into this item and update by 7/29

[2019-07-25 15:01] niaalex commented on #576
This card will stay open until the fixes are covered in the next container 0.16.2.
ETA is 7/25
@shehzadsidi

[2019-07-25 15:03] niaalex commented on #496
@sukhendumukherjee will confirm if this is still valid.
ETA - 7/25

[2019-07-25 15:08] niaalex opened #652 "Docker Container 0.17.0 Delivery"
The team will not deliver the 0.16.2 container but  on Monday 7/29 will instead deliver the Docker Container 0.17.0  to cover the basic 1311 Functionality that was not captured in 0.16.1.  This container (0.17.0) will include the basic sanity test suite.

::NOTE:: A second container (0.17.1) will be delivered on 7/31 to include the full FsR test case Suite.

[2019-07-25 15:12] shehzadsidi commented on #501
This is fixed and tested in 0.16.1 container

[2019-07-25 15:12] #501 closed

[2019-07-25 21:42] niaalex commented on #652
@TessForGithub2  please advise the new ETA for the docker container.

[2019-07-26 03:13] sukhendumukherjee commented on #495
Development Complete

[2019-07-26 03:13] #495 closed

[2019-07-26 03:14] sukhendumukherjee commented on #496
We are not using graph ql.

[2019-07-26 03:14] #496 closed

[2019-07-26 03:15] sukhendumukherjee commented on #538
Development complete

[2019-07-26 03:15] #538 closed

[2019-07-26 14:27] TessForGithub2 commented on #652
ETA is Monday, 7/29. I expect it will contain all the CRUD for Fluids Report (basic sanity cases only; we will have to spend time reviewing edge cases & special cases) & 1.3.1.1 fixes.

[2019-07-26 16:11] niaalex opened #653 "DEV: QA: Review and Respond to client inquiry for “one message” split options"
Determine best option to combine multiple-line message; Client suggested options are:

- Option a, combine multiple-line message into one line on drillflow side

- Option b, combine multiple-line message into one line on DoT side. This introduce another layer of processing before filebeat collecting on DoT side.
==============================================================
This card covers the cl

[2019-07-26 16:19] niaalex commented on #652
Card updated to note that the team will NOT deliver the 0.16.2 container this week but  on Monday 7/29 will instead deliver the Docker Container 0.17.0  to cover the basic 1311 Functionality that was not captured in 0.16.1.  This container (0.17.0) will include the basic sanity test suite.

::NOTE:: A second container (0.17.1) will be delivered on 7/31 to include the full FsR test case Suite.

[2019-07-26 16:27] niaalex commented on #621
The new ETA is TBD planned for the week of 7/29-8/2.

Tuesday (7/30) and Wednesday (7/31) have been set aside to complete the documentation updates and conduct internal HM team review and approval.  Invite for onsite working session to follow.

Tuesday (7/30) and Wednesday (7/31) are dedicated days for this activity (barring any highlevel urgent issues that can not be deferred).

The current desig

[2019-07-28 16:10] TessForGithub2 opened #654 "DEV:FsR:Update document for new environment variable"
UPDATE: Need to remember to generate documentation for the new environment variable (fluidsreport.path) in envvars.rst. Check that the documentation appears on the Drillflow website.

[2019-07-28 18:38] TessForGithub2 opened #655 "DEV:ALL:Clean up treating a status of 400 as OK"

[2019-07-29 14:57] niaalex commented on #653
@TessForGithub2 what is the update on this item?

[2019-07-29 15:01] niaalex opened #656 "QA: FsR: Detail Implementation plan to support injecting SLB CA chain into Drillflow"
Detail Implementation plan to remove the DoT WITSML endpoints from API gateway publishing.

This card is created to track the plan to support injecting SLB CA chain intro Drillflow in order to enable connecting Drillflow to DoT internal endpoints rather than current public endpoints and thus remove the DoT WITSML endpoints from API gateway publishing.

Detailed information was provided in PDF form

[2019-07-29 19:42] TessForGithub2 commented on #653
Update: We are working in priority order, and we have not yet looked into this yet.

[2019-07-29 19:51] niaalex commented on #653
Who should this be assigned to and how should this be prioritized for noting ETA?

[2019-07-29 20:03] TessForGithub2 commented on #652
Update: Update will NOT be included in container 0.17.0. I will deliver this in 0.17.1

[2019-07-29 20:04] TessForGithub2 commented on #493
Update: Delivered in container 0.17.0 for 1.4.1.1 but will test for 1.3.1.1.

[2019-07-29 20:09] TessForGithub2 commented on #656
Update: So is this higher priority than Design Document, which I was given 1 day to accomplish tomorrow? Is this higher than UpdateFromStore for FluidsReport? What about Logs 1.3.1.1 fixes?

[2019-07-29 21:06] niaalex commented on #656
I think the ask is to just provide the plan in reply for implementation not to actually do the implementation.

@Mike-d-s  please advise how this should be prioritized and who it should be assigned to.
The current team may need more detail on the background for this one.

[2019-07-29 21:33] TessForGithub2 commented on #653
UPDATE: This ask required custom CXF code to fix. It is anticipated to take > 1 week, and Mike mentioned something about asking Chris for the fix after his vacation. However, Mike thinks a more viable alternative is IF FileBeat allows configuration for CRLF (not treating as separate message), to have them configure FileBeat to see if this is the better solution.

Mike did suggest that someone goog

[2019-07-31 23:06] niaalex opened #661 "DEV: LOG: Log End2End Test on DoT Blocked (HIGH PRIORITY)"
This  card is to track the E2E issue submitted via email From: XiaoBin DENG <XDeng4@slb.com>
Sent: Monday, July 29, 2019 8:04 PM; Subject: One issue occurs at log update in End2End test

When implementing Log End2End test on DoT side, one issue occurs when update log. See email for Screen shot FYI
Below are the reproducing steps:
•	Add a log whose content is same as attached Log_input.xml, replace

[2019-08-01 09:20] TessForGithub2 commented on #493
Update: Will test for 1.3.1.1 and verify for 1.4.1.1 the fix for getting all elements of a complete Fluids Report object.

[2019-08-02 04:41] sukhendumukherjee commented on #528
Dev Complete

[2019-08-02 04:41] #528 closed

[2019-08-02 04:41] sukhendumukherjee commented on #527
Dev Complete

[2019-08-02 04:41] #527 closed

[2019-08-02 04:42] sukhendumukherjee commented on #526
Dev Complete

[2019-08-02 04:42] #526 closed

[2019-08-02 04:43] sukhendumukherjee commented on #492
Dev Complete

[2019-08-02 04:43] #492 closed

[2019-08-02 04:43] sukhendumukherjee commented on #545
Dev Complete

[2019-08-02 04:43] #545 closed

[2019-08-02 04:44] sukhendumukherjee commented on #544
Dev Complete

[2019-08-02 04:44] #544 closed

[2019-08-02 04:45] sukhendumukherjee commented on #593
Dev Complete. Need to Test in QA

[2019-08-02 04:45] #593 closed

[2019-08-02 13:08] TessForGithub2 commented on #652
Container 0.17.0 has been delivered and is in use by SLB.

[2019-08-02 13:08] #652 closed

[2019-08-02 13:11] TessForGithub2 commented on #651
Update: All fluids report objects are now funneling through end-to-end in DrillFlow. Closing the card.

[2019-08-02 13:11] #651 closed

[2019-08-02 13:14] TessForGithub2 commented on #493
Update: Essentially Add is working for the test cases provided. However, I still need to test for 1.3.1.1 and understand why I am seeing 500 error (still popping up).

[2019-08-02 13:15] #512 closed

[2019-08-02 13:16] TessForGithub2 commented on #515
Update: There was some missing data that has now been provided by the Mapping software. To my knowledge, all required elements are there so I am closing this card.

[2019-08-02 13:16] #515 closed

[2019-08-02 13:17] TessForGithub2 commented on #513
Update: All objects are receiving POJO data. Closing this card now.

[2019-08-02 13:17] #513 closed

[2019-08-02 13:21] TessForGithub2 commented on #521
Update: This Happy Path & Sanity for 1.4.1.1 has been provided.

[2019-08-02 13:21] #521 closed

[2019-08-02 13:22] TessForGithub2 commented on #518
Update: The code has been provided for both with/without UID. I need to retest, however, without UID since I was seeing a 500 from the client & need to verify that this has been rectified.

[2019-08-02 13:26] TessForGithub2 commented on #654
Update: Put in Add, need to put in for other environment variables. Will remain open until all are accounted for.

[2019-08-02 14:15] niaalex commented on #661
@TessForGithub2 please advise the ETA for this item.

[2019-08-02 14:18] niaalex commented on #656
This card is connected to the certificate question from earlier and the ability to inject the SLB certificate for the container.

Then we need to look at the different between the DMZ exposed endpoint URLs and the ones internal to DOT behind the gateway.

The two questions we have to look into are whether there is any change to the URL injection method for the container config and then validate th

[2019-08-02 14:22] niaalex commented on #656
I have renamed the card per client request for note Detail Implementation plan to support injecting SLB CA chain into Drillflow in order to track the plan to allow drillflow to accept parameters to inject.

@TessForGithub2  is this one yours also?

[2019-08-02 14:22] niaalex commented on #653
@TessForGithub2 please advise the current status and new ETA for this item.

[2019-08-02 14:23] niaalex commented on #540
@shehzadsidi  what is the current status on this item including the planned ETA?

[2019-08-02 14:24] niaalex commented on #532
@shehzadsidi what is the current status on this item including the planned ETA?

[2019-08-02 14:25] niaalex commented on #522
@shehzadsidi what is the current status on this item including the planned ETA?

[2019-08-02 14:27] niaalex commented on #519
@TessForGithub2  what is the current status on this item including the planned ETA?

[2019-08-02 14:28] niaalex commented on #650
@TessForGithub2  what is the current status on this item including the planned ETA?

[2019-08-02 14:40] niaalex commented on #539
@shehzadsidi what is the current status on this item including the planned ETA?

[2019-08-02 14:43] niaalex commented on #656
@shehzadsidi will update 8/2

[2019-08-02 16:19] TessForGithub2 commented on #656
It was agreed that Shehzad will manage this card.

Thank you,

Theresa Stewart
281.723.7108

On Fri, Aug 2, 2019 at 9:18 AM niaalex <notifications@github.com> wrote:

[2019-08-02 16:25] TessForGithub2 commented on #653
OK, this is another one I spoke with Mike about.

He said:
1. We should allocate 1 hour for someone to Google about File Beat (whether
it is true that a configuration is easy for File Beat). If true, then we
need to ask SLB is they are OK with trying it.
2. If it is false about File Beat, then it will take longer than 1 week
(Mike's estimate from discussing with Chris) for someone to provide CXF
c

[2019-08-02 16:27] TessForGithub2 commented on #661
UPDATE: This is the same issue I had with JSON before, and fixed in other areas of the code. I know what needs to be done; I simply have to sit down and do it. It is high priority, so I will ETA for completion by COB today (my COB may go late into the night, btw, because we planned to roll this into the same container as UpdateToStore, 1.3.1.1 fixes, and this one.

[2019-08-02 18:29] niaalex commented on #653
Yes I remember that update but who owns the action?

Based in what I reviewed in Google it seems to be easy but I think that is relative to who will actually have to do the work.  Lets say the dev team determines this is more involved, who will own the action to provide CXF custom code to fix it?

This is the update I need.

From: Theresa Stewart <notifications@github.com>
Sent: Friday, August 2,

[2019-08-02 18:48] TessForGithub2 commented on #653
Mike said Chris would do it. I do not know what kind of arrangement they
have with Chris because that shocked me. But he mention it earlier this
week, after it was know that Chris is gone.

On Fri, Aug 2, 2019, 1:29 PM niaalex <notifications@github.com> wrote:

[2019-08-02 19:28] niaalex commented on #653
Acknowledged / thank you.

I will Assign Mike for now

From: Theresa Stewart <notifications@github.com>
Sent: Friday, August 2, 2019 1:49 PM
To: hashmapinc/Drillflow <Drillflow@noreply.github.com>
Cc: niaalex <tonia.alexander@hashmapinc.com>; Author <author@noreply.github.com>
Subject: Re: [hashmapinc/Drillflow] DEV: QA: Review and Respond to client inquiry for “one message” split options (#653)

[2019-08-02 20:20] shehzadsidi commented on #540
The delete functionality for happy path tested for Container 0.17.0.  Currently testing extended test cases (Delete by element) for container 0.17.1. ETA 8/5 (COB)

[2019-08-02 20:21] shehzadsidi commented on #532
GetFromStore with UID successfully tested in container 0.17.0.  Closing the card

[2019-08-02 20:23] shehzadsidi commented on #532
Reopened since I need to test the "Rheometer" elements for Container 0.17.1

[2019-08-02 20:24] shehzadsidi commented on #522
AddToStore for elements including "Rheometer" need to be tested for container 0.17.1.  ETA 8/5 (COB)

[2019-08-02 20:28] shehzadsidi commented on #576
new ETA for delivering complete RTC functionality for Container 0.17.1 is 8/5 (COB)

[2019-08-02 20:29] shehzadsidi commented on #539
Successfully tested in Container 0.17.0.  Closing the card

[2019-08-02 20:29] #539 closed

[2019-08-05 00:10] TessForGithub2 commented on #661
UPDATE: The major issues itemized are fixed. However, I am opening a new card to discuss the implications of no ChannelSet.

[2019-08-05 00:15] TessForGithub2 opened #662 "QA:LOGS:1.4.1.1 Update Needs New Test Case HIGH PRIORITY FOR CONTAINER 0.17.1"
DoT E2E testing is blocked until this is proven to be fixed:

<logs xmlns="http://www.witsml.org/schemas/1series" version="1.4.1.1">
  <log uidWell="uid-a229353e-68c5-4eea-bf84-005b3c0aae10"
       uidWellbore="uid-ead0f808-77f1-4515-8d30-7b3129eab62f"
       uid="uid-f8568617-e86c-41e2-963f-e44c1e848556">
    <logData>
      <mnemonicList>MDepth,ROP,TQ on btm</mnemonicList>
      <unitList>m,m/h,

[2019-08-05 00:20] TessForGithub2 opened #663 "DEV:FsR:Perform 1.3.1.1 Local Testing on CRUD"
Update: It is time once 1.4.1.1 CRUD is released for the DEV team to verify 1.3.1.1

[2019-08-05 00:21] #493 closed

[2019-08-05 04:00] TessForGithub2 commented on #518
Update: When I remove the uid from the transaction, DoT fails it as follows:
Payload: <soap:Envelope xmlns:soap="http://schemas.xmlsoap.org/soap/envelope/"><soap:Body><ns1:WMLS_AddToStoreResponse xmlns:ns1="http://www.witsml.org/message/120"><Result xmlns:ns2="http://www.witsml.org/wsdl/120"><Result>-1</Result><SuppMsgOut>{"message":"The request is invalid.","modelState":{"uid.String":["A value is

[2019-08-05 04:30] TessForGithub2 commented on #519
Update: Attempted to add another fluidsReport object (changed the scripting to add a second fluidReportUID2 for this 2nd object), and it is failing in the WitsmlMarshaling for StoreImpl. This will require me to debug marshaling. It will take the estimated 1 day, so the ETA will be the next sprint's container date.

[2019-08-05 04:41] TessForGithub2 commented on #650
Update: Where are the attached test cases?

[2019-08-05 05:48] TessForGithub2 commented on #518
Update: Worked with XiaoBen DENG and now it works. He did not change anything on DoT side and I did not on DrillFlow side, so it is a mystery as to why the previous time failed. However, I've run it 3 more times now, and it is working. I left XiaoBen with a JSON payload to examine. But I will close this card now.

@Shehzad can now test it.

[2019-08-05 05:48] #518 closed

[2019-08-05 05:53] TessForGithub2 commented on #646
Update: Please provide the test cases and  will debug this quickly.

[2019-08-05 14:30] TessForGithub2 commented on #494
Update: UpdateToStore is now failing in getUUIDFR (throw new ValveException(“No fluids report date found.“);)

Requested a trace from Sukhe.

[2019-08-05 14:39] niaalex commented on #519
ETA 8/12 with 0.18.0 container per @TessForGithub2

[2019-08-06 20:43] shehzadsidi commented on #662
will work with Theresa for what is needed on testing.  ETA 8/7 COB

[2019-08-06 20:45] shehzadsidi commented on #540
Testcases ready.. will test and complete by 8/7 COB

[2019-08-06 20:45] shehzadsidi commented on #522
AddToStore for elements including "Rheometer" need to be tested for container 0.17.1. ETA 8/7 (COB)

[2019-08-06 20:47] shehzadsidi commented on #535
extended Update functionality needs to be tested, test cases are ready for Container 0.17.1.  ETA 8/7 (COB)

[2019-08-06 20:49] shehzadsidi commented on #579
This is part of tech deb/extended test case for Log.. I will work with Theresa to ensure that fix is there in QA and will test.  ETA 8/8 (COB)

[2019-08-07 13:26] TessForGithub2 commented on #654
Update: Will update with variables Sukhe has injected.

[2019-08-07 13:28] TessForGithub2 commented on #494
Update: UpdateToStore is now working. Will complete testing this morning with Shehzad and plan to release for Container 0.17.1 8/7.

[2019-08-07 13:29] #494 closed

[2019-08-07 13:36] TessForGithub2 commented on #534
Update: This has been completed under a different card.

[2019-08-07 13:36] #534 closed

[2019-08-07 18:29] TessForGithub2 opened #664 "DEV:FsR:Build Issue for WitsmlObjectsLibrary HIGH PRIORITY"

[2019-08-07 20:14] TessForGithub2 opened #665 "DEV:FsR:GetFromStore can come from a 2.0 Client"
The GET code cannot assume only 1.3.1.1 or 1.4.1.1 now; there can also be a 2.0 client.

[2019-08-07 20:41] TessForGithub2 opened #666 "DEV:FsR:GetFromStore - unused payload need to be removed"
In getObject() within DotDelegator.java, you have the following unused code:

			// get object as payload string
			String payload;
			if ("1.4.1.1".equals(witsmlObject.getVersion())) {
				payload = witsmlObject.getJSONString("1.4.1.1");
			} else {
				payload = witsmlObject.getJSONString("1.3.1.1");
			}
			payload = JsonUtil.removeEmpties(new JSONObject(payload));

First, this is wrong code (e

[2019-08-09 16:06] TessForGithub2 opened #667 "DEV:LOGS:GET - Make getRestCalls Async"
Async calls would improve performance.

Also, make the name of this method more log specific.

[2019-08-09 18:58] shehzadsidi opened #668 "Dev: Missing Fields (1.4.1.1) for Fluid Report"
There are certain fields missing and returns incorrect values and UOM in the mappings for Fluid Report 1.4.1.1

tempVis (expected 28, returning 135.0)
tempVis (mom expecting “degC” returning “s”)
Field ASG missing in Fluid
itemState “plan” missing
Rheometer missing
hardnessCa and uom not returned missing

[2019-08-10 13:52] niaalex opened #669 "DEV: QA: Rheometer data missing in FluidsReport query response"
#668 Dev: Missing Fields (1.4.1.1) for Fluid Report

This is the card to track the client reported issue c/o Rheometer data missing in FluidsReport query response

Reference the email from From: XiaoBin DENG <XDeng4@slb.com>
Sent: Thursday, August 8, 2019 12:04 AM
Subject: Rheometer data missing in FluidsReport query response

Detailing  “Rheometer” data is missing in FluidsReport response. See th

[2019-08-10 14:05] niaalex opened #670 "DEV: QA: "tempVis" Issue Resolution"
#668 Dev: Missing Fields (1.4.1.1) for Fluid Report #668

The client team has reported an issue regarding "tempVis" .

The reproducing steps via WATT were shared via slack From: XiaoBin DENG <XDeng4@slb.com>; Sent: Wednesday, August 7, 2019 8:36 PM.

1 - create a FluidsReport with sample data (remove 'asg' tag for the time being, another issue which I'm following). In request, “<tempVis uom="degC"

[2019-08-12 14:39] niaalex commented on #670
This issue has been resolved. Payload provided via email to client. @TessForGithub2

[2019-08-12 14:39] #670 closed

[2019-08-12 14:40] niaalex commented on #669
This issue is now resolved and the payload update has been provided to the client via email. @TessForGithub2

[2019-08-12 14:40] #669 closed

[2019-08-12 14:42] niaalex commented on #668
tempVis; Rheometer; and hardnessCa and uom are now returning correctly per @TessForGithub2

Verification in progress for Field ASG missing in Fluid and itemState “plan” missing.
ETA is 8/12 for next container.

[2019-08-12 16:01] niaalex commented on #656
@shehzadsidi please advise the status of this card ASAP.

[2019-08-12 16:03] niaalex commented on #653
@Mike-d-s please advise the status of this item; this is being tracked in the status deck.

[2019-08-13 15:01] niaalex commented on #656
Shehzad has confirmed that in order to understand the configuration changes in Drillflow so that this implementation is configurable we will require a follow up with the SLB team, a working session in order to identify the details of config changes.

We will propose adding some additional time to our presentation to review on the Monday status call.

[2019-08-14 15:17] niaalex opened #674 "DEV: FsR: FluidsReports SOAP test failed at query response validation step (HIGH PRIORITY)"
FluidsReports SOAP test failed at query response validation step
Test via WATT, the get response is "1" instead of actual FluidsReport object. Any clue?
image.png
Check FluidsReport GET API, looks like it is OK Image provided
For your reproducing, just replace "https://witsml.hashmapinc.com/Service/WMLS" with "https://api-demo.nam.drillops.slb.com/democore/witsml/v0" in SOAP test
1:04 AM
Checked i

[2019-08-15 13:56] niaalex commented on #656
Shehzad has confirmed that in order to understand the changes in the configuration changes in Drillflow so that this implementation is configurable.  We require a follow up with the SLB team in order to identify the details of config changes. Chris has also provided some recommendation on the SLB side.  We will follow the updates.

[2019-08-15 17:40] TessForGithub2 commented on #668
UPDATE:
1. <commonData><itemState>plan</itemState></commonData>
    The reason this is missing is because there is no place within the 2.0 Schema to put it for
    sending to DoT. So the assert within the test case is incorrect.
    However, this information may need to be mapped to something else within the 2.0 Schema.
    We need to follow-up with Mike to ask him this question.
2. <asg> is not m

[2019-08-15 17:42] TessForGithub2 commented on #664
UPDATE: Prem put his instructions for generating another WitsmlObjectsLibrary. But, as I mentioned to Prem, the delays I was experiencing do not match what he is seeing. I learned that the Intellij IDE sometimes needs to be told to explicitly load the new jar file for this library. All developers have been told, and now we have a successful recourse for getting this library in a timely manner.

[2019-08-15 17:42] #664 closed

[2019-08-15 17:44] TessForGithub2 commented on #662
UPDATE: Shehzad reported only 2 rows of data are missing from the test result using GET. My thinking is that there is something faulty with the GET translation for the response. Whoever investigates this needs to verify that GET is handling the data correctly, since I see the correct results when I locally tested Add. I will open a new card for GET and keep this QA card open for further testing.

[2019-08-15 17:46] TessForGithub2 opened #676 "DEV:LOGS:1.1.4.1 End2End Update Error Reported by Client"
UPDATE: Shehzad reported only 2 rows of data are missing from the test result using GET. My thinking is that there is something faulty with the GET translation for the response. Whoever investigates this needs to verify that GET is handling the data correctly, since I see the correct results when I locally tested Add. I will open a new card for GET and keep this QA card open for further testing.

[2019-08-15 17:53] TessForGithub2 commented on #522
UPDATE: We are keeping this card open due to fields that are lost during the marshal process (hardnessCa) or due to missing schema location (ASG). Once these fields are resolved, we need to test again.

[2019-08-15 17:56] #540 closed

[2019-08-15 18:00] TessForGithub2 commented on #656
UPDATE: Chris is advocating within the SLB team that they handle it.
Email dated 8/15 at 8:21 AM:
"So just to be clear, this is less of a drillflow issue and more of a linux issue. We are trying to add a trusted certificate. I have never seen a software package that modified the certificates on the OS directly as part of its core functionality (for a number of reasons) unless you are using a servi

[2019-08-15 18:03] TessForGithub2 commented on #612
UPDATE: This was discussed between Mike & Theresa yesterday (8/14). Theresa will provide a single object's documentation (Fluids Report) so he can review if it meets what he envisions is required. Theresa will start this today (8/15). ETA: 8/19 for 1 object

Rest of objects will follow the structure of the diagramming. They should be much easier. ETA: 8/22 (1 day per object to chase all of the RES

[2019-08-15 18:14] TessForGithub2 commented on #621
UPDATE: Related card is #612. Once the related card is completed, it will be consumed by this document. This part of the document will add architecture pieces & links as necessary to have continuity of thought for understanding the design. It will also have tables taken from requirements documents removed & links put in its stead. I plan to also add specific code examples since we now have them in

[2019-08-15 18:16] TessForGithub2 commented on #654
UPDATE: All variables (including the new, unique one for GET) need to be documented so SLB knows how to properly inject for URL changes.

[2019-08-15 18:20] TessForGithub2 commented on #650
UPDATE: Have the following ask for Shehzad:

May I have the test case for “Card #650 - UpdateToStore (Time) for Channel meta data fails”? When you send, in the subject line of the email, would you put the quoted text above so I can find it quickly?

[2019-08-15 18:23] TessForGithub2 commented on #646
UPDATE: Had the following ASK for Shehzad:
May I have the test case for “UpdateToStore log data in 1.3.1.1 fails #646”.

Please bear in mind that my guess is that the GET is failing to retrieve the data correctly. Always please document that you are not seeing the information after an UPDATE with a subsequent GET, OK? And, typically, there are 3 steps: Update, Get, then Validate.

[2019-08-15 18:26] TessForGithub2 commented on #457
UPDATE: Still need to pull all fixes from df-395A. ETA: need 1 day to pull & test, so 8/27

[2019-08-15 18:28] TessForGithub2 commented on #596
UPDATE: Need to recall code change & proceed.

[2019-08-15 18:40] TessForGithub2 commented on #486
UPDATE: Leaving this open to make sure we fixed this.

[2019-08-15 18:55] #486 closed

[2019-08-15 18:55] TessForGithub2 commented on #565
UPDATE: This will be fixed when df-395A is merged with Master. ETA: 9/1

[2019-08-15 18:56] TessForGithub2 commented on #619
UPDATE: Tech debt for wells & well bores. Still need to have Mike advise the priority.

[2019-08-15 18:57] TessForGithub2 commented on #625
UPDATE: Logging mechanism adequate? Advise as to priority due to end of project life.

[2019-08-16 20:42] sukhendumukherjee commented on #674
I used below set of data in my local(http://127.0.0.1:7070/Service/WMLS) and QA(https://witsml.hashmapinc.com/Service/WMLS) environment and its working well.

Set Of Data

<fluidsReport uidWell="Energistics-well-0001" uidWellbore="Energistics-w1-wellbore-0001" uid="HM_2f65db6e-debb-4f75-936b-7da3b085de30">

End Points
fluids.report.path: ${FLUIDS_REPORT_PATH:https://api-demo.nam.drillops.slb.com/d

[2019-08-16 20:43] sukhendumukherjee commented on #654
Code has updated.Need to update document.

[2019-08-17 18:36] cherrera2001 commented on #625
Yes it is fine.

[2019-08-18 15:30] TessForGithub2 commented on #625
Thanks, Chris. I will close the card now, Toni'a.

[2019-08-18 15:30] #625 closed

[2019-08-19 19:17] sukhendumukherjee commented on #457
Its done in dev.

[2019-08-20 15:13] Mike-d-s commented on #653
@cherrera2001 I see the other closed card, I assume we can close this one too?

[2019-08-20 15:18] niaalex opened #677 "DEV: FsR DeleteFromStore Failed with full template (default delete template in WATT)"
DeleteFromStore is OK with simplified template, but failed with full template(which is default delete template in WATT
<?xml version=“1.0” encoding=“utf-16"?>
<fluidsReports xmlns=“http://www.witsml.org/schemas/1series” xmlns:xsi=“http://www.w3.org/2001/XMLSchema-instance” xsi:schemaLocation=“http://www.witsml.org/schemas/1series  ../xsd_schemas/obj_fluidsReport.xsd” version=“1.4.1.1">
<fluidsRepo

[2019-08-20 15:22] cherrera2001 commented on #653
@Mike-d-s make it so number 1.

[2019-08-20 15:27] Mike-d-s commented on #653
Closed as per feedback.

[2019-08-20 15:27] #653 closed

[2019-08-20 16:14] niaalex commented on #626
@TessForGithub2 what is the status of this one?

Which Object category should it fall under?

[2019-08-20 16:18] #665 closed

[2019-08-20 16:18] shehzadsidi commented on #665
2.0 is no longer in scope

[2019-08-20 16:51] niaalex commented on #619
@Mike-d-s please confirm how this should be classified

[2019-08-20 16:52] niaalex commented on #500
@shehzadsidi please classify/update this card where appropriate

[2019-08-20 16:53] niaalex commented on #335
@TessForGithub2 please review this for Dev and advise if it is still needed.

[2019-08-20 16:54] niaalex commented on #406
@sukhendumukherjee please classify/update this card where appropriate

[2019-08-20 16:55] niaalex commented on #420
@TessForGithub2 please classify/update this card where appropriate

[2019-08-20 16:56] niaalex commented on #419
@TessForGithub2 please classify/update this card where appropriate

[2019-08-20 20:00] TessForGithub2 commented on #420
UPDATE: This is classified as "system work". It is needed for deployment of the container.

[2019-08-20 20:04] niaalex commented on #256
This item is no longer in scope.

[2019-08-20 20:04] #256 closed

[2019-08-20 20:06] niaalex commented on #384
This is captured in the Dev/Test activities and this card is no longer needed.

[2019-08-20 20:06] #384 closed

[2019-08-20 20:08] niaalex commented on #626
This item has been fixed

[2019-08-20 20:08] #626 closed

[2019-08-20 20:18] niaalex commented on #578
The code is complete/merge pending @TessForGithub2
ETA - 8/26

[2019-08-20 20:19] niaalex commented on #484
On target for next sprint

[2019-08-20 20:22] niaalex commented on #378
Complete

[2019-08-20 20:22] #378 closed

[2019-08-20 20:23] niaalex commented on #377
this was delivered with RTC

[2019-08-20 20:23] #377 closed

[2019-08-20 20:24] niaalex commented on #371
Complete

[2019-08-20 20:24] #371 closed

[2019-08-20 20:27] niaalex commented on #235
this is no longer in scope

[2019-08-20 20:27] #235 closed

[2019-08-20 20:29] niaalex commented on #418
Pending evaluation for nest sprint

[2019-08-20 20:30] niaalex commented on #584
Complete

[2019-08-20 20:30] #584 closed

[2019-08-20 20:32] niaalex commented on #500
Complete

[2019-08-20 20:32] #500 closed

[2019-08-20 20:33] niaalex commented on #583
Complete

[2019-08-20 20:33] #583 closed

[2019-08-20 20:35] niaalex commented on #417
This will be evaluated for next sprint

[2019-08-20 20:41] niaalex commented on #571
Validate full fidelity traj test cases in SOAP UI

[2019-08-20 20:59] niaalex opened #678 "DEV: Wells: Determine Code Impact to client PUT API Change"
#619 - DEV: Determine Code Impact to client PUT API Change

DEV: Analysis: small (search codebase for usage & determine code change)
DEV: Code & Test: TBD

Per client, the current PUT API of some DoT services provides partial update behavior, which is wrong (The correct PUT behavior is to create a new resource or replace whole existing resource). This is DoT technical debt and we’re going to corre

[2019-08-20 21:00] niaalex opened #679 "DEV: WellBore: Determine Code Impact to client PUT API Change"
#619 - DEV: Determine Code Impact to client PUT API Change

DEV: Analysis: small (search codebase for usage & determine code change)
DEV: Code & Test: TBD

Per client, the current PUT API of some DoT services provides partial update behavior, which is wrong (The correct PUT behavior is to create a new resource or replace whole existing resource). This is DoT technical debt and we’re going to corre

[2019-08-20 21:02] niaalex opened #680 "DEV: TRAJ: Determine Code Impact to client PUT API Change"
#619 - DEV: Determine Code Impact to client PUT API Change

DEV: Analysis: small (search codebase for usage & determine code change)
DEV: Code & Test: TBD

Per client, the current PUT API of some DoT services provides partial update behavior, which is wrong (The correct PUT behavior is to create a new resource or replace whole existing resource). This is DoT technical debt and we’re going to corre

[2019-08-21 14:29] niaalex commented on #656
The SLB team has provided an update on the FluidsReport URL Injection Issue

[2019-08-21 14:36] niaalex commented on #406
Closed by the client team/ Refer to email sent From: Shuping LIU <SLiu7@slb.com>
Sent: Wednesday, August 21, 2019 5:37 AM

[2019-08-21 14:36] #406 closed

[2019-08-21 14:48] niaalex opened #681 "QA:FsR:Perform 1.3.1.1 Local Testing on CRUD"
#663 - DEV:FsR:Perform 1.3.1.1 Local Testing on CRUD

Update: It is time once 1.4.1.1 CRUD is released for the DEV team to verify 1.3.1.1

[2019-08-22 14:13] niaalex commented on #656
@shehzadsidi is it ok to close this one?

[2019-08-22 16:58] sukhendumukherjee commented on #530
We are not using grapgql and we can close this.

[2019-08-22 16:58] #530 closed

[2019-08-22 16:58] sukhendumukherjee commented on #531
We are not using grapgql and we can close this.

[2019-08-22 16:58] #531 closed

[2019-08-22 18:14] cherrera2001 opened #682 "APIKey is no longer necessary to get the token."
**Describe the bug**
Currently the container requires an API key to function. This requirement has been deprecated from town for some time. The API key needs to be removed.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to start the container without the API KEY
2. No functions work

**Expected behavior**
It should not be required to get a token

**Desktop (please complete the following

[2019-08-23 12:51] Mike-d-s commented on #656
As per the email, SLB team will wrap an additional layer around the container to handle the cert chain.

[2019-08-23 12:51] #656 closed

[2019-08-23 12:59] Mike-d-s commented on #216
Leaving this card in the well backlog in order to track that the UPSERT issue still needs to be resolved within the SLB API or on the DrillFlow side.

[2019-08-23 13:01] Mike-d-s commented on #678
@TessForGithub2 Theresa, for this card history, can you please confirm whether we use the PUT API for Update in store behavior for well?  I believe you looked at this?

[2019-08-23 13:03] Mike-d-s commented on #678
This card can be moved back to the well backlog after adding notes about how we use the PUT API.

[2019-08-23 13:05] Mike-d-s commented on #679
@TessForGithub2 Theresa, same notes as well.  Please add your comments on whether we use the PUT API as part of the Update in Store flow and then we can move this card back to the Wellbore backlog.

[2019-08-23 13:07] Mike-d-s commented on #680
@TessForGithub2  Theresa, same notes as well. Please add your comments on whether we use the PUT API as part of the Update in Store flow and then we can move this card back to the Trajectory backlog.

[2019-08-23 13:13] Mike-d-s commented on #678
WELL --
Currently use endpoint ...well/v2/witsml/wells/ as PUT
Refer to the SLB demo website: democore/Slb.Prism.Core.Service.Well-2 which states:
"Create a well object with uid specified or Update a well object in 1.4.1.1 format"
(NOTE: this was designed to accommodate both a creation or an update.)
Need to use endpoint ...well/v2/witsml/wells/ as PATCH
Refer to the SLB demo website: democore/Slb

[2019-08-23 13:15] Mike-d-s commented on #619
Closing the parent card as the child cards are in the object backlogs.

[2019-08-23 13:15] #619 closed

[2019-08-23 15:00] shehzadsidi commented on #553
This is fixed in container 0.18.1

[2019-08-23 15:00] #553 closed

[2019-08-23 15:56] shehzadsidi commented on #662
the two rows of log Data still missing, tested 8/23

[2019-08-23 17:45] shehzadsidi commented on #662
MDepth,ROP,TQ on btm m,m/h,kft.lbf 10003,2.3,2.08 MDepth,ecd m,g/cm3 10005,1.11 MDepth,ecd m,g/cm3 10007,1.23 is still missing.

[2019-08-23 17:53] niaalex commented on #662
Is this a block on the client side?
If so, we will need to make sure they are aware of it.

[2019-08-26 14:47] niaalex opened #684 "DEV: FsR: FluidsReport Issue when FluidReport does not exists"
This card will address the issue with the FluidsReport Issue when FluidReport does not exists.

Jingjing Wang 2:17 AM
@Toni'a Alexander Hi Toni, we detected a issue with FluidsReport: when FluidReport not exists, the soap response return null XmlOut, which is inconsistent with other witsml object, we think we may need fix this issue "Image on Slack FYI" we need return a valid xml in XmlOut.

We wi

[2019-08-26 15:03] niaalex opened #685 "QA: Partial Update behavior summary Issues"
This card will address the Partial Update behavior summary Issues as detailed in the Email
From: XiaoBin DENG <XDeng4@slb.com>
Sent: Monday, August 26, 2019 5:23 AM
Subject: Partial Update hehavior summary

Hello Tonia,

Regarding partial update behavior, there is test today. It is was found that there are issues for Trajectory/Log/FluidsReport partial update.

I didn’t catch time to investigate t

[2019-08-26 22:54] TessForGithub2 opened #688 "DEV:FsR,Log,&Traj:Partial Update Behavior Summary"
Update: Associated card is #685

Fixed Items 2 (Log) and 3 (FsR). This is now in QA testing; pending that outcome, it will go into Container 0.19.0 generated tonight (8/26).

Once Item 1 (Traj) is fixed or reported as arising on DoT side, then this card can be closed.

[2019-08-27 14:44] #688 closed, assigned to TessForGithub2

[2019-08-28 15:56] #685 closed, assigned to shehzadsidi

[2019-08-28 20:40] #684 closed, assigned to TessForGithub2

[2019-08-29 00:32] niaalex commented on #684
Was this fix delivered as a part of the 0.19.1 docker container ?

From: Shehzad Sidi <notifications@github.com>
Sent: Wednesday, August 28, 2019 3:41 PM
To: hashmapinc/Drillflow <Drillflow@noreply.github.com>
Cc: niaalex <tonia.alexander@hashmapinc.com>; Author <author@noreply.github.com>
Subject: Re: [hashmapinc/Drillflow] DEV: FsR: FluidsReport Issue when FluidReport does not exists (#684)

Dev

[2019-08-29 00:42] niaalex commented on #684
tonia.alexander@hashmapinc.com would like to recall the message,
"[hashmapinc/Drillflow] DEV: FsR: FluidsReport Issue when FluidReport does
not exists (#684)".

[2019-08-29 00:42] niaalex commented on #684
Disregard I just read the msx in Slack.

From: Shehzad Sidi <notifications@github.com>
Sent: Wednesday, August 28, 2019 3:41 PM
To: hashmapinc/Drillflow <Drillflow@noreply.github.com>
Cc: niaalex <tonia.alexander@hashmapinc.com>; Author <author@noreply.github.com>
Subject: Re: [hashmapinc/Drillflow] DEV: FsR: FluidsReport Issue when FluidReport does not exists (#684)

Development and QA testing co

[2019-08-29 15:36] TessForGithub2 opened #690 "When Log does not exist, XmlOut is null"
#684 is related issue

UPDATE: This is ready for merging. I am working on card with 1.3.1.1 fixes, and will release this card and the 1.3.1.1 fixes together.

[2019-09-03 15:15] shehzadsidi commented on #668
This issue is still valid.  Theresa is working on fixing the marshaling issue to fix the missing fields.

[2019-09-03 15:47] shehzadsidi commented on #644
The issue is still outstanding.

[2019-09-03 16:14] shehzadsidi commented on #690
This issue is fixed in container 0.19.1, closing the card

[2019-09-03 16:14] #690 closed

[2019-09-03 16:19] shehzadsidi commented on #460
Issue still exists, ClassIndex values are all 0

[2019-09-03 17:09] TessForGithub2 commented on #460
This is one I have already solved and is indf-395A. Will move it in quickly.

Theresa

On Tue, Sep 3, 2019, 11:19 AM Shehzad Sidi <notifications@github.com> wrote:

[2019-09-03 18:20] shehzadsidi commented on #644
QA Tested, issue is fixed.

[2019-09-03 18:20] #644 closed

[2019-09-03 19:51] shehzadsidi commented on #516
While attempting to perform AddToStore with same UID, I receive error as expected:
For example: <SuppMsgOut>{"message":"Key conflicts, duplicate wellboreId+uid, wellboreId=0e2e84f9-0b5d-402e-8d3c-ae6f3e8f8b63, uid=HM_86990ca8-d77e-48bb-ac93-22846e05f316"}</SuppMsgOut>.  Closing the card

[2019-09-03 19:51] #516 closed

[2019-09-03 19:53] shehzadsidi commented on #522
Rheometer issue fixed and QA tested.  The other missing fields already has an assigned card.  Closing the card.

[2019-09-03 19:53] #522 closed

[2019-09-03 20:05] shehzadsidi commented on #523
Just tested in QA.  The Fluid Report is successfully created even if the Fluid Report UID not passed in which is in line with the Schema Definition of Fluid Report UID being optional.  Closing the card.

-<xsd:attribute name="uid" type="witsml:uidString" use="optional">
-<xsd:annotation>
 <xsd:documentation>The unique identifier of an object. This should not be used for child nodes within an objec

[2019-09-03 20:05] #523 closed

[2019-09-03 20:07] shehzadsidi commented on #548
QA tested, the Fluid Report object successfully retrieved with Fluid Report UID (with Options In: returnElements=all).  Closing the card.

[2019-09-03 20:07] #548 closed

[2019-09-03 20:13] shehzadsidi commented on #541
When the well or wellborn deleted, all subsequent objects underneath gets deleted as well.  Closing the card.

[2019-09-03 20:13] #541 closed

[2019-09-03 20:17] shehzadsidi commented on #546
QA tested.. able to successfully query Fluid Report object with UID and name.  Closing the card.

[2019-09-03 20:17] #546 closed

[2019-09-03 20:18] shehzadsidi commented on #547
I will create a testcases to test this feature.

[2019-09-03 20:22] Mike-d-s commented on #677
validated that a delete entire object (no sub elements) and delete sub element are both working now).  Note that client should not provide elements with data in a deleted query.

[2019-09-03 20:22] shehzadsidi commented on #550
Get CAP validation works, this is a duplicate card.

[2019-09-03 20:22] #550 closed

[2019-09-03 20:24] Mike-d-s commented on #674
pending SLB review of democore behavior.

[2019-09-03 20:27] shehzadsidi commented on #533
Duplicate card, closing

[2019-09-03 20:27] #533 closed

[2019-09-03 20:32] shehzadsidi commented on #646
This functionality does not work as expected.  GetFromStore does not return the expected data

[2019-09-03 20:34] shehzadsidi commented on #571
I will work on it to add validations for Trajectory CRUD.

[2019-09-03 20:37] Mike-d-s commented on #474
Test 21 validated and tracking sheet updated.
Test 5 validated and tracking sheet updated.

[2019-09-03 20:37] #474 closed

[2019-09-03 20:38] niaalex commented on #536
@sukhendumukherjee is this one complete?  I Think you mentioned it was complete on the call please confirm as I plan to delete the duplicate card (#542).  I want to be sure I am updating the correct card.

[2019-09-03 20:47] niaalex commented on #542
Duplicate card / Disregard DEV complete for this task on Card #536

[2019-09-03 20:48] #542 closed

[2019-09-03 20:48] niaalex commented on #536
Confirmed / DEV Complete no issues

[2019-09-03 20:48] #536 closed

[2019-09-03 20:59] Mike-d-s opened #692 "Well RequestObjectSelectionCapability return has malformed text body."
In the ObjectSelectionConstants.java the string for WellObjectSelection has the space inside the quotes for schema location instead of after.  Causing a parsing error in SOAP UI.  Move the space outside the escaped quote.

The response comes back as
<wells xmlns="http://www.witsml.org/schemas/1series "version="1.4.1.1">

And it should be
<wells xmlns="http://www.witsml.org/schemas/1series" version

[2019-09-03 21:00] niaalex commented on #533
@shehzadsidi  What is the card number for the other one that this one duplicated ?

[2019-09-03 21:10] Mike-d-s commented on #417
#692

[2019-09-03 21:10] #417 closed

[2019-09-03 21:16] Mike-d-s commented on #562
Item 1 is fixed in card #471

Item 2 is a bad data sample which contains repeating mnemonics, DF should throw an error for add/update (card #565) and a different error for query (card #564). Both cards added to the backlog.

Item 3 having the same order of the LCIs and the data columns is not mandatory spec behavior but we still need to implement for 1.3.1 in order to comply with the spec.

Item 4

[2019-09-03 21:27] Mike-d-s opened #693 "Dev:Logs Validate 1.3.1.1 get from store that <columnIndex> is correctly ordered based on the data package."
When doing a get on a 1.3.1.1 log, the <columnIndex> element for each logCurveInfo should represent its order in the data table.

For example, if the data table contains:
Mdepth,ROPA,TRQ_AVG
1000,12,43
1001,55,22

Then in the logCurveInfo for each curve, the columnIndex should read as follows:

<logCurveInfo uid="xxx">
<mnemonic>Mdepth</mnemonic>
...
<columnIndex>1</columnIndex>
...
</logCurveInfo

[2019-09-04 12:15] #682 closed

[2019-09-04 19:08] shehzadsidi commented on #692
The issue fixed and QA Tested.  Getting result as expected without spaces in the XML Out as:
xmlns="http://www.witsml.org/schemas/1series" version="1.4.1.1"

[2019-09-04 19:08] #692 closed

[2019-09-05 17:36] shehzadsidi opened #697 ""indexCurve" and "logParam" tags missing upon Partial Update of Log object 1.4.1.1"
"indexCurve" and "logParam" tags missing upon Partial Update of Log object 1.4.1.1

**To Reproduce**
Steps to reproduce the behavior:
1) Query result before Update. Here "indexCurve" and "logParam" tags exist.
2) Update "runNumber"
3) Query log again. It is found that "runNumber" is updated while "indexCurve" and "logParam" tags are missing

**Expected behavior**
Upon update "indexCurve" and "logP

[2019-09-05 22:35] niaalex commented on #612
@Mike-d-s - I just noticed the update above c/o your directive on 8/14 for Theresa to provide a single object's documentation for (Fluids Report).  I was tracking this item c/o LOG Design Doc. Please note this as acknowledgement of the change.

[2019-09-06 14:43] shehzadsidi opened #698 "Logs 1.3.1.1 returning no data after creation"
**Describe the bug**
Logs 1.3.1.1 returning no data after creation

**To Reproduce**
Steps to reproduce the behavior:
1.  Create Log 1.3.1.1 (AddToStore)
2. Retrieve the Logs 1.3.1.1 object (GetFromStore)
3.  Notice all data missing.

[2019-09-09 18:56] niaalex opened #699 "DEV: LOG: Creation Time Not Returning in GET FROM STORE"
DEV: LOG: Creation Time Not Returning in GET FROM STORE

Note: Check mapping and All Data Fields

Timestamp does not support null

[2019-09-09 19:03] niaalex opened #700 "Provide DrillFlow Test Project Access to the SLB Team"
The SLB team will need to be able to access the DrillFlow Test Project in GitHub for SOAP UI.

Access will be granted vs. making it public.

SLB will determine how they want to manage going forward.  (open source vs. private repo)

[2019-09-10 16:25] niaalex opened #702 "DEV: LOGS: 1.3.1.1 Delete Element (Channel) not working"
DEV: LOGS: 1.3.1.1 Delete Element (Channel) not working

DeleteFromStore not deleting the channel

[2019-09-10 16:26] niaalex opened #703 "DEV: LOG: DeleteFromStore not deleting the channel"
DEV: LOG: DeleteFromStore not deleting the channel

#702

[2019-09-10 16:28] niaalex commented on #703
Review and advise if this is part of card #702

[2019-09-10 16:32] niaalex opened #704 "DEV: LOGS: 1.3.1.1 GetFromStore the elements not working."
DEV: LOGS: 1.3.1.1 GetFromStore the elements not working.  The query returns everything.

[2019-09-10 17:04] niaalex commented on #703
Confirmed that this will be managed as a part of card #702.  This card is not needed.

[2019-09-10 17:04] #703 closed

[2019-09-10 18:26] niaalex opened #705 "DEV: LOG: Do not have channels for 1.3.1.1 a data update cannot be performed"
Do not have channels for 1.3.1.1, a data update cannot be performed. Change: I will screen for this condition & reject the query in this case.

Prior feedback no longer applicable:
UpdateToStore Logs 1.3.1.1 has issues with current testcases.  There is no way to associate the Log Data with Channels.  Investigation needs to be done of how to do this with the current schema of 1.3.1.1.

This is a HI

[2019-09-10 19:02] niaalex commented on #705
This card was been revised to note as follows:  Do not have channels for 1.3.1.1, a data update cannot be performed.

@TessForGithub2  will screen for this condition & reject the query in this case.

[2019-09-10 19:04] niaalex opened #706 "DEV: LOG: For 1.3.1.1, the # channels MUST match the # cols in the data"
DEV: LOG: For 1.3.1.1, the # channels MUST match the # cols in the data.

[2019-09-11 19:26] Mike-d-s commented on #704
Performing a Get from store with a partial template does not return a filtered response with only the elements requested.

[2019-09-11 19:38] #677 closed

[2019-09-11 19:54] shehzadsidi commented on #676
[GetFromStore.txt](https://github.com/hashmapinc/Drillflow/files/3602481/GetFromStore.txt)
[UpdateToStore.txt](https://github.com/hashmapinc/Drillflow/files/3602482/UpdateToStore.txt)

Testcases attached

[2019-09-11 20:03] #416 closed

[2019-09-12 07:04] niaalex opened #708 "Documentation Update"
Update Environment Variance section in DOC.io and remove E parameter notes.

https://drillflow.readthedocs.io/en/latest

[2019-09-12 07:07] niaalex opened #709 "Deliver SOAP UI Test"
Deliver Updated SOAP UI Test - ETA is 9/13/2019

[2019-09-12 15:55] niaalex opened #710 "DEV: LOG: JUNIT for Duplicate Mnemonics"
DEV: LOG: JUNIT for Duplicate Mnemonics

Linked to LOG EPIC

[2019-09-13 15:06] kongxy10 opened #713 "DEV: LOG: Support to read <logCurveInfo/> and <logData/> without index channel"
If there's no index channel in the response of getting log curve info and getting log data in DOT API. The index channel should be inferred from log metadata response.

[2019-09-13 19:20] kongxy10 opened #714 "DEV: Documentation"
Correction to the sample docker run command in readme.md

[2019-09-15 14:11] niaalex commented on #702
Fix confirmed  on 9/13

[2019-09-15 14:11] #702 closed

[2019-09-15 14:13] niaalex commented on #704
Fix confirmed  on 9/13

[2019-09-15 14:13] #704 closed

[2019-09-15 14:14] niaalex commented on #705
Fix confirmed  on 9/13

[2019-09-15 14:14] #705 closed

[2019-09-15 14:16] niaalex commented on #564
JUNIT Complete and Fix Confirmed 9/13

[2019-09-15 14:16] #564 closed

[2019-09-15 14:16] niaalex commented on #565
JUNIT Complete and Fix Confirmed 9/13

[2019-09-15 14:16] #565 closed

[2019-09-29 09:48] kongxy10 opened #717 "DEV: FIX 1.3.1.1 df-valve RTC open query and duplicated <logCurveInfo/> in GetFromStore()"

[2019-09-30 04:22] kongxy10 opened #719 "DEV: fix null reference exception in LOG GetFromStore if no min/max index"
fix null reference exception in LOG GetFromStore if no min/max index

[2019-11-25 08:03] emavworo opened #721 "INFO NOT SHOWING THE GENERATED PASSWORD"
After building the drillflow project successfully, I executed the jar file as stated in the manual, and its running, but going through the console logs no generated password was seen.

Testing the server using a SOAP UI brings error 401,

Anyone knows how to get this info or setting up fixed users and password?

Emma

[2019-11-25 14:10] Mike-d-s commented on #721
@emavworo Emma, you can contact me via email (click my profile and my email is there) and I'll try and give you some more information.  But the core of the system is to act as a facade for a backend and user names / passwords are managed by the back end system.  The basic auth user names/passwords are sent to the backend system via the valve where they are validated and an auth token is generated.

[2019-11-25 16:28] randypitcherii commented on #721
@emavworo you might have luck using the test backend server [Drilltest](https://github.com/hashmapinc/DrillTest). I left the project a few months before development ended, so this may not work as well anymore.

Good luck!

[2019-11-25 21:49] emavworo commented on #721
Thanks Randy, will try Drilltest

[2020-12-16 10:58] billydekid commented on #721
Hi Mike,
I try to setup and test with Apache basic auth for an URL and put it as VALVE_BASE_URL.
When I access http://localhost:7070/Service/WMLS, the basic auth I entered which popup from localhost was incorrect and seems it fails to pass to VALVE_BASE_URL.

Does my understanding is correct?